<% if sign_in? %>
    <div class="row">
      <aside class="col-md-4">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>
      <div class="col-md-8">
        <h3>Micropost Feed</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
<% end %>
<div class="center jumbotron">
  <h1>Sample App</h1>
  <h2>
    This is the home for the
    <a href="http://railstutorial.org"/>Ruby on Rails Tutorial</a>
    sample application
  </h2>
    <%= link_to "Sign up now", signup_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
