<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", "#", id: "logo" %>
      <nav>
        <ul class="nav navbar-fixed-top">
          <li class="pull-right"><%= link_to "Home", root_path %></li>
          <li class="pull-right"><%= link_to "Help", help_path %></li>
          <% if sign_in? %>
            <li class="pull-right"><%= link_to "Users", '#' %></li>
            <li id="fat-menu" class="dropdown pull-right">
              <a class="dropdown-toggle" data-toggle="dropdown">Dropdown<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation"><%= link_to "Profile", user_path(current_user), role: "menuitem" %></li>
                <li role="presentation"><%= link_to "Settings", edit_user_path(current_user), role: "menuitem" %></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><%= link_to "Sign out", signout_path, method: "delete", role: "menuitem" %></li>
              </ul>
            </li>
          <% else %>
            <li class="pull-right"><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>